<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TourCMS API Demo - Manolo Ramos</title>
	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" href="./assets/img/favicon.svg">
	<!-- CSS -->
	<link rel="stylesheet" href="./lib/normalize/normalize.min.css" />
	<link rel="stylesheet" href="./lib/bootstrap/bootstrap.min.css" />
	<link rel="stylesheet" href="./assets/css/styles.css">
	<link rel="stylesheet" href="./lib/fontawesome/css/fontawesome.min.css" />
	<link rel="stylesheet" href="./lib/fontawesome/css/fontawesome.min.css" />
	<link rel="stylesheet" href="./lib/fontawesome/css/solid.min.css" />
</head>
<header>
	<div>
		<div>
			<img src="../../assets/img/logo.png" alt="Palisis logo">
		</div>
		<div>
			<ul>
				<li></li>
			</ul>
		</div>
		<div>
			<a href="#">Logout</a>
		</div>
	</div>
</header>