<!DOCTYPE html>
<html lang="en">
{{> _partials/_header }}
<body class="h-screen w-screen flex justify-center items-center">
	<main>
		<div class="text-gray-700 text-2xl font-bold">
			<p id="logoutMessage" class="text-center">
				Logging you out
			</p>
			<br>
			<p class="text-center">👋😘</p>
		</div>

		<script>
			function logOut() {
				const logoutMessage = document.getElementById('logoutMessage');
				let dotCount = 0;

				const interval = setInterval(() => {
					logoutMessage.textContent += '.';
					dotCount++;

					if (dotCount === 3) {
						clearInterval(interval);
						logoutMessage.textContent += '\n';
					}
				}, 500);

				setTimeout(function() {
					window.location.href = "{{BASE_URL}}/login";
				}, 2000);
				
			}

			logOut();
		</script>
	</main>
	{{> _partials/_footer }}
</body>
</html>
