<!DOCTYPE html>
<html lang="en">
{{> _partials/_header }}
	<body class="h-screen flex justify-center items-center bg-gray-100">
		<main class="h-screen w-full">
			<div style="margin-top: 100px; padding-bottom: 100px;" class="container mx-auto my-10">
				<!-- Breadcrumbs -->
				<div class="mb-4">
					<ul class="flex items-start justify-start gap-2">
						<li class="hover:underline">
							<a href="{{BASE_URL}}/dashboard">Channel Selection</a>
						</li>
						<li> > </li>
						<li class="underline">
							<a href="{{BASE_URL}}/bookings">Bookings</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- Title and channel info -->
			{{^ isBookingIDsubmitted}}
				<div style="margin-top: 5%;" class="flex justify-center flex-col items-center">
					<h1 class="text-4xl font-bold text-gray-900 text-center mb-10">
					   Search Bookings
					</h1>
					<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full max-w-md">
						<form action="{{BASE_URL}}/bookings/searchBookingByID" method="POST">
							<div class="mb-4">
								<label class="block text-gray-700 font-bold mb-2" for="bookingID">
									Booking ID
								</label>
								<input
										class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="bookingID" type="number" name="bookingID" placeholder="Enter Booking ID">
							</div>
							<div class="flex items-center justify-center">
								<button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
									Submit
								</button>
							</div>
						</form>
					</div>
				</div>
			{{/ isBookingIDsubmitted}}
			<!-- Booking details -->
			<div class="flex justify-center flex-col items-center">
				{{# isBookingIDsubmitted}}
					{{# bookingTemplateData}}
						<div class="bg-white shadow-lg rounded-lg p-8 max-w-xl w-full text-center flex items-center justify-center flex-col">
								<div class="mb-4">
									<h2 class="text-xl font-semibold text-gray-800">{{bookingName}}</h2>
									<pre class="text-gray-600">Channel: {{channelName}} ID: {{channelID}}</pre>
									<pre class="text-gray-600">Booking ID: #{{bookingID}}</pre>
									<pre class="text-gray-600">Status: {{statusText}}</pre>
								</div>
								<div class="mb-6">
									<p class="text-lg font-medium text-gray-700">Start Date: {{startDate}}</p>
									<p class="text-lg font-medium text-gray-700">End Date: {{endDate}}</p>
								</div>
								<div class="mb-6">
									<h3 class="text-lg font-semibold text-gray-800 mb-4">Customers in this booking ({{customerCount}})</h3>
									<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3 space-x-3">
										{{# customerData.customer}}
											<div class="text-center">
												<img
													src="https://randomuser.me/api/portraits/lego/{{profileImageID}}.jpg"
													alt="Lego Antonio"
													class="w-16 h-16 rounded-full mx-auto mb-2 object-cover">
												<p class="text-sm font-medium">{{customer_name}}</p>
												<p class="text-sm font-medium">{{customer_email}}</p>
											</div>
										{{/ customerData.customer}}
									</div>
								</div>
								<div class="border-t pt-4 flex flex-col items-center justify-center space-y-4">
									<a href="{{BASE_URL}}/bookings"
									   class="bg-blue-500 text-white px-6 py-2 rounded-md hover:bg-blue-600 transition">
										Edit customers
									</a>
									<a href="{{BASE_URL}}/bookings"
									   class="bg-red-500 text-white px-6 py-2 rounded-md hover:bg-red-600 transition">
										Delete booking
									</a>
							</div>
						</div>
					{{/ bookingTemplateData}}
				{{/ isBookingIDsubmitted}}
				{{# isBookingIDsubmitted}}
					{{^ bookingTemplateData}}
					<div class="bg-white shadow-md rounded-lg p-6 hover:bg-blue-50 cursor-pointer transition duration-300">
						<p class="text-gray-600 text-center">There's no existing booking data for the selected
							Booking ID.</p>
					</div>
					{{/ bookingTemplateData}}
				{{/ isBookingIDsubmitted}}
			</div>
		</main>
		{{> _partials/_footer }}
	</body>
</html>