<!DOCTYPE html>
<html lang="en">
	{{> _partials/_header }}
	<body class="h-screen flex justify-center items-center bg-gray-100">
		<main class="h-screen w-full">
			<div style="margin-top: 100px; padding-bottom: 125px;" class="container mx-auto my-10">
				<!-- Breadcrumbs -->
				<div class="mb-4">
					<ul class="flex items-start justify-start gap-2">
						<li class="hover:underline">
							<a href="{{BASE_URL}}/dashboard">Channel Selection</a>
						</li>
						<li> > </li>
						<li class="hover:underline">
							<a href="{{BASE_URL}}/bookings">Bookings</a>
						</li>
						<li> > </li>
						<li class="underline">
							{{# bookingCancellationData}}
								<a href="{{BASE_URL}}/bookings">Cancel booking #{{bookingID}}</a>
							{{/ bookingCancellationData}}
						</li>
					</ul>
				</div>
			</div>
			<div style="margin-top: 5%;" class="flex justify-center flex-col items-center">
				 <div class="bg-white shadow-lg rounded-lg p-8 max-w-xl w-full text-center flex items-center justify-center flex-col">
					{{# bookingCancellationData}}
							<!-- <img src="{{tourImage}}" alt="{{tourName}}" class="w-32 h-32 rounded-full object-cover mb-4"> -->
							<h1 class="text-3xl font-bold text-red-600 mb-6">Booking Cancelled!</h1>
							<div class="mb-4">
								<h2 class="text-xl font-semibold text-gray-800">{{tourName}}</h2>
								<pre class="text-gray-600">Tour ID: #{{tourID}}</pre>
								<pre class="text-gray-600">Booking ID: #{{bookingID}}</pre>
							</div>
					{{/ bookingCancellationData}}

					{{^ bookingCancellationData}}
						 <div class="bg-white shadow-md rounded-lg p-6 hover:bg-blue-50 cursor-pointer transition duration-300">
							 <p class="text-gray-600 text-center">There's no existing booking data for the selected
								 tour.</p>
						 </div>
					{{/ bookingCancellationData}}
				</div>
			</div>
		</main>
		{{> _partials/_footer }}
	</body>
</html>