<!DOCTYPE html>
<html lang="en">
{{> _partials/_header }}
<body class="h-screen w-screen flex justify-center items-center">
	<main>
		<div id="logoutMessage" class="text-gray-700 text-2xl font-bold">
			<p class="text-center text-4xl">404</p> 
			<p class="text-center">Something weird happened</p>
			<br>
		</div>
		<div class="text-gray-700 text-center text-1xl">
			<pre class="pt-30 pb-15 text-center">{{errorMessage}}</pre>
			<a class="italic " href="/onboarding-manolo-ramos/login/">> Take me back to the login page</a>
		</div>
	</main>
	{{> _partials/_footer }}
</body>
</html>
