<section class="tour_list">
		<?php if ( $searchToursResult->error == "OK" ): ?>
			<div class="tour_list-header">
				<?php 
					// Render the actual page and the total number of pages.
					$tourRenderHelper->renderCurrentPageInfo();
				?>
			</div>
			<div class="tour_list-pagination pgTop">
				<?php 
					// Render pagination links.
					$tourRenderHelper->renderPagination();
				?>
			</div>
			<div class="tour_list-container">
				<div class="tour_list-contents">
					<?php 
						// Loop through the tours and render them.
						$tourRenderHelper->renderTourData( $searchToursResult );
					?>
				</div>
			</div>
			<div class="tour_list-pagination pgBottom">
				<?php 
					// Render pagination links.
					$tourRenderHelper->renderPagination();
				?>
			</div>
		<?php else: ?>
			<p class="tour-list_error">There has been an error retrieving tours: <?php echo $searchToursResult->error; ?></p>
		<?php endif; ?>
</section>